.page-container
    padding-top: 67px

.banner
    .image-container
        position: absolute
        height: 100%
        top: 0
        right: 0
        background-image: url('./img/home-banner.jpg')
        @include bgdef

.aboutus
    .imgcontainer
        img
            border-radius: 6px
            box-shadow: 4px 4px 8px rgba(0,0,0,0.25)