.page-container
    padding-top: 67px

.card
    box-shadow: 0 0 4px rgba(0,0,0,0.25)

.shivamdrop.open 
    .dropdown-menu
        box-shadow: none
        border: 1px solid rgba(0, 0, 0, 0.1)
        border-top: 0
        transition: all 0.15s ease-in-out

.shivamdrop
    .dropdown-menu>li>a
        padding: 0
        color: #000
        padding: 5px
        font-weight: 500
    .dropdown-menu
        background: #fff
        padding: 0
        transition: all 0.15s ease-in-out
        max-height: 150px
        overflow-y: scroll
    button, button:hover, button:active, button:focus,.open>.dropdown-toggle.btn-default, .btn-default:active:hover
        min-width: 100%
        font-size: 17px
        letter-spacing: 0.5px
        width: 100%
        padding: 
        background: #fff   
        box-shadow: none
        padding: 10px 20px
        text-align: left
        border: 1px solid rgba(0, 0, 0, 0.1)
        border-radius: 0
        color: #000
    .dropdown-menu
        min-width: 100%
    button span
        color: rgba(0, 0, 0, 0.15)
    button .caret
        position: absolute
        right: 17px
        border-width: 9px
        top: 19px
    .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
        background: none
    .dropdown-menu .divider:nth-child(1)
        background-color: #000
        margin: 0
    .dropdown-menu .divider
        margin: 0
    .but
        border-radius: 0

.pagination>li>a, .pagination>li>span
    color: $green
    border-radius: 50%
    margin-left: 5px
    margin-right: 5px
    cursor: pointer

.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span
    border-radius: 50%

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
    background-color: $green
    border-color: $green

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover
    color: #fff
    background-color: $green
    border-color: $green

.page-container.home
    #covid-popup
        .modal-dialog
            margin-top: 27px
        .text-cont
            padding: 30px 50px 50px
            .text
                max-height: calc(100vh - 75vh)
                overflow-y: scroll
        button.close
            bottom: initial
            top: -19px
            left: 96%
    .banner
        .image-container
            position: absolute
            height: 100%
            top: 0
            background-image: url('./img/home-banner.jpg')
            @include bgdef
    .aboutus
        .imgcontainer
            img
                border-radius: 6px
                box-shadow: 4px 4px 8px rgba(0,0,0,0.25)
                filter: grayscale(0.95)
    .ourwork
        .ourwork-container
            .workcards
                .workcard
                    .imgcontainer
                        position: relative
                        border-radius: 10px
                        overflow: hidden
                        margin-bottom: 15px
                        img
                            z-index: 1
                            transition: transform 0.5s ease-in-out
                        .title
                            background: rgba(39, 75, 160, 0.8)
                            color: #FFF
                            position: absolute
                            bottom: 0
                            width: 100%
                            text-align: center
                            z-index: 3
                            padding: 10px 0
                        &:hover
                            img
                                transform: scale(1.15)
    .permanence
        .permanence-container
            background-image: url('./img/permanence-banner.jpg')
            @include bgdef
            min-height: 100vh
            .text-container
                .bgww
                    margin-top: -50px
                    box-shadow: 0 0 8px rgba(0,0,0,0.2)
    .reach
        .map-container
            padding-top: 20px
    .donate
        #slider
            .swiper-slide
                cursor: pointer
                .imgcontainer
                    @include bgdef

.page-container.donate
    .donate-container
        #ngoContentContainer div, #ngoContentContainer span, #ngoContentContainer applet, #ngoContentContainer object, #ngoContentContainer iframe, #ngoContentContainer h1, #ngoContentContainer h2, #ngoContentContainer h3, #ngoContentContainer h4, #ngoContentContainer h5, #ngoContentContainer h6, #ngoContentContainer p, #ngoContentContainer blockquote, #ngoContentContainer pre, #ngoContentContainer a, #ngoContentContainer cite, #ngoContentContainer del, #ngoContentContainer dfn, #ngoContentContainer em, #ngoContentContainer font, #ngoContentContainer q, #ngoContentContainer s, #ngoContentContainer samp, #ngoContentContainer strike, #ngoContentContainer strong, #ngoContentContainer ol, #ngoContentContainer ul, #ngoContentContainer li, #ngoContentContainer fieldset, #ngoContentContainer form, #ngoContentContainer label, #ngoContentContainer legend, #ngoContentContainer tbody, #ngoContentContainer tfoot, #ngoContentContainer thead, #ngoContentContainer tr
            font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !important
    .volunteer
        .image-container
            content: ''
            background-image: url('./img/donate-volunteer-banner.jpg')
            @include bgdef
            position: absolute
            top: 0
            right: 0
            height: 100%

.page-container.work
    .ourwork
        .work-container
            .work-banner
                .title
                    padding: 20px 30px
            .work-content
                .highlights-container
                    .highlight
                        padding: 20px
                        margin-bottom: 12.5px
                    .highlight:nth-last-child(1)
                        margin-bottom: 0

.page-container.about
    .timeline
        .timeline-container
            .swiper-scrollbar
                background: $lightblue
                left: 0
                height: 10px
                width: 100%
            .swiper-scrollbar-drag
                background: $blue
            .milestone
                .card
                    padding: 20px
                    border-radius: 10px
                    box-shadow: none
                    border: 4px solid $blue
                    &:before
                        content: ''
                        height: calc(100% - 15px)
                        width: calc(100% - 15px)
                        background: rgba(39, 75, 160, 0.1)
                        border-radius: 5px
                        border: 1px solid $grey
                        z-index: 1
                        position: absolute
                        top: 7.5px
                        left: 7.5px
                    .text
                        z-index: 3
    .impact
        .impact-container
            .impact
                padding: 20px
                margin-bottom: 12.5px
                border-radius: 10px
            .impact:nth-last-child(1)
                margin-bottom: 0
        .image-container
            position: absolute
            height: 100%
            top: 0
            background-image: url('./img/about-impact-banner.jpg')
            @include bgdef
            box-shadow: 0 0 8px rgba(0,0,0,0.25)
    .team
        .teams-container
            .person
                cursor: pointer
                .imgcontainer
                    margin-bottom: 10px
                    overflow: hidden
                    img
                        transition: transform 0.5s ease-in-out
                &:hover
                    color: $blue
                    .imgcontainer
                        img
                            transform: scale(1.2)
    .awards
        .awards-container
            .card
                padding: 20px
            .award-row
                margin-bottom: 25px
            .award-row:nth-last-child(1)
                margin-bottom: 0
            .award-row
                .award:nth-child(even)
                    .title
                        text-align: center
    .partners
        .partners-container
            .partner
                .img
                    content: ''
                    background: $lightblue
                    height: 100px
                    background-repeat: no-repeat
                    background-position: center
                    background-size: 100px
            .partner.small
                .img
                    background-size: 70px
            .partner.bigger
                .img
                    background-size: 130px

.page-container.home .donate, .page-container.about .team
    .modal.people
        .modal-dialog
            margin-top: 150px
        .text-cont
            padding: 50px
        .bio-img
            height: 150px
            width: 150px
            @include bgdef
            border-radius: 50%
            margin: -150px auto 0
        button.close
            background: $blue
            opacity: 1
            padding: 10px 14px
            position: absolute
            bottom: -24px
            border-radius: 50%
            left: 47%
            z-index: 2
            img
                width: 13px
        button.close:hover
            background: #000

.page-container.resources
    .reports-container
        .report
            .imgcontainer
                border-radius: 8px
                border: 5px solid #000
                box-shadow: -10px 10px 0 rgba(0,0,0,1)
                @include bgdef
                height: 350px
                transition: all 0.5s ease-in-out
                margin-bottom: 30px
                &:hover
                    box-shadow: 0 0 20px $blue
    .news-container
        .newscard
            a
                display: block
                box-shadow: 0 0 5px rgba(0,0,0,0.25)
            .news-img
                @include bgdef
                height: 225px
            .blurb
                min-height: 112px
                padding: 20px
