// @media (min-width: 768px)

@media (min-width: 991px)
    .home
        .banner
            .image-container
                width: 48vw
        .aboutus
            .text-container
                padding-right: 30px
            .imgcontainer
                padding-left: 30px
        .ourwork
            .workcard
                .blurb
                    min-height: 96px
    .donate
        .banner
            position: relative
            z-index: 1
        .donate-form-container
            margin-top: -40vh
            position: relative
            z-index: 3
            .donate-container
                .container
                    position: relative
                .bgww
                    min-height: 80vh
                    max-height: 80vh
                    overflow-y: scroll
                    border: 5px solid $blue
                    #danamojo-widget-container.container, #danamojo-product-container.container
                        width: 100% !important

@media (min-width: 1340px)
    .banner
        .image-container
            right: calc((1170px - 100vw)/2)
    
@media (min-width: 1280px) and (max-width: 1339px)
    .banner
        .image-container
            right: calc((1080px - 100vw)/2)
                
@media (min-width: 1025px) and (max-width: 1280px)
    .banner
        .image-container
            right: calc((970px - 100vw)/2)

@media (min-width: 992px) and (max-width: 1024px)
    .banner
        .image-container
            right: calc((920px - 100vw)/2)

// @media (min-width: 768px) and (max-width: 991px)

@media (max-width: 767px)
    .page-container
        padding-top: 61px
    .home
        .aboutus
            .title
                text-align: center
                margin-bottom: 1.2em
    .donate
        .donate-form-container
            padding: 0
            margin-top: -25px
            .text-container
                padding: 30px 45px
            .donate-container
                .bgww
                    padding: 30px 0 0
                    max-height: 80vh
                    overflow-y: scroll
                    border: 2px solid $blue
                    #danamojo-widget-container.container, #danamojo-product-container.container
                        width: 100% !important

// @media (max-width: 320px)